<html>
<head>
<script type="text/javascript">
function delayedRedirect(){
    window.location = "/"
}
</script>
</head>
<body onLoad="setTimeout('delayedRedirect()', 1500)">
<h1>Password mismatch! Redirecting... </h1>
</body>
</html>