<!DOCTYPE html> 

<html>
  <head>
      
       <link rel="icon" 
      type="image/png" 
      href="/favicon.ico">
      
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">

      
<title>board1</title>  
      

      
</head>   

<body onKeyPress="google(event)" onload="CreateContent(600,600,'#b0c4de');CreateBoard(40,40,10,10);assignSelectedHero();ClearUI();HPMPbars();">

    <div class="container" id="container">


    <script type="text/javascript" charset="utf-8">


    Joan = new piece("Joan", "JoanP1", "JoanB1", 20, 20, 0, 10, 10, 0, 0, 0, null, 0, null);

    Ima = new piece("Ima", "ImaP1", "ImaB1", 20, 20, 0, 10, 10, 0, 0, 0, null, 0, null);

    Steph = new piece("Steph", "StephP1", "StephB1", 20, 20, 0, 10, 10, 0, 0, 0, null, 0, null);


    var SelectedHero;

    var enemyHero;


    function assignSelectedHero() {

      SelectedHero = '<%= h @SelectedHero -%>';  

      if (SelectedHero == "Joan") { SelectedHero = Joan }

      if (SelectedHero == "Ima") { SelectedHero = Ima }

      if (SelectedHero == "Steph") { SelectedHero = Steph }

      enemyHero = '<%= h @enemyHero -%>';

      if (enemyHero == "Joan") { enemyHero = Joan }

      if (enemyHero == "Ima") { enemyHero = Ima }

      if (enemyHero == "Steph") { enemyHero = Steph }


    }


    function getData() {
    Joan_pos = Number('<%= h @Joan_pos -%>');
    Ima_pos = Number('<%= h @Ima_pos -%>');

    Joan = new piece("Joan", "JoanP1", "JoanB1", 20, 20, 0, 10, 10, Joan_pos, 0, 0, "()", 0);

    Ima = new piece("Ima", "ImaP1", "ImaB1", 20, 20, 0, 10, 10, Ima_pos, 0, 0, "()", 0);

     }

    















    </script>

    <!-- < % BaseStat.replace() % >? to update database -->
    <!-- how do we secure database.yml? -->


     </div> 

</body>
</html>